<div class="text-center bg-light py-2">
    <img src="~/images/slika_skole.png" alt="Logo škole" width="34" />
    <span class="fw-bold">SchoolManagerApp - Sustav za upravljanje učenicima</span>
</div>