@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/slika_skole.png" alt="Logo škole" width="300" />
    <h1 class="display-4">Dobrodošli!</h1>
    <p>Aplikacija za upravljanje podacima o učenicima u školi.</p>
</div>